RewriteEngine On
Options +FollowSymLinks -MultiViews

# Ne pas toucher les fichiers ou répertoires existants
RewriteCond %{REQUEST_FILENAME} -f [OR]
RewriteCond %{REQUEST_FILENAME} -d
RewriteRule ^ - [L]

# Retirer l'extension .php pour les fichiers existants
RewriteCond %{REQUEST_FILENAME}.php -f
RewriteRule ^(.+)$ $1.php [L]

# Gestion 404
ErrorDocument 404 'https://mmiday.mmi-toulon.fr/config/404.php'

<Files "404.php">
    ErrorDocument 404 default
</Files>
