body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    margin: 0;
    background-color: #1a1a1a;
    font-family: sans-serif;
}

.user-card {
    background: white;
    padding: 10px;
    border-radius: 8px;
    margin-bottom: 20px;
}

.reels-container {
    width: 350px;
    height: 600px;
    background-color: #000;
    border-radius: 30px;
    border: 6px solid #333;
    position: relative;
    overflow-y: scroll;
    scroll-snap-type: y mandatory;
}

.reels-container::-webkit-scrollbar { display: none; }

.reel-block {
    height: 100%;
    width: 100%;
    scroll-snap-align: start;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.reel-img {
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: 1;
}

.reel-content {
    position: relative;
    z-index: 5;
    color: white;
    text-align: center;
}

.reel-content h1 {
    font-size: 1.8rem;
    text-shadow: 2px 2px 10px black;
}

.actions-overlay {
    position: absolute;
    bottom: 30px;
    right: 20px;
    z-index: 10;
    text-align: center;
}

.btn-like-reel {
    background: none;
    border: none;
    font-size: 2.5rem;
    cursor: pointer;
}

.compteur {
    color: white;
    font-weight: bold;
    display: block;
}